body {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image_logo{
    width: 11.5vw;
    height: 15vh;
}
.container_login{
    
    width: 33vw;
    height: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.image_header{
    /* background-color: violet; */
    width: 100%;
    height: max-content;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
}

.text_login{
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    color:#D22020;
    font-weight: bolder;
    /* background-color: tomato; */
    
}

.container_register{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.text_user,.text_password {
    color:#D22020;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.form {
    
    display: flex;
    flex-direction: column;
   gap: 7vh;
    display: flex;
    height: max-content;
    align-items: center;
    padding-top: 9vh;
}

.input{
    border-radius: 10px;
    border: solid 1px #737373;
    padding: 0.3vw;  
    width: 22vw;
    height:4vh;
}

.button_login{
    background-color:#D22020 ;
    color: white;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    height: 5vh;
    width: 8vw;
    border-radius: 10px;
    border: none;
}

.password .user .email{
    display: flex;
    flex-direction: column;
}

